import React from 'react';
import styles from './{{name}}.module.css';


{{!-- Remove this interface if this component has no props --}}
export interface {{name}}Props {
}

export default function {{name}}(props: {{name}}Props) {
    return (
        <div className={styles.{{name}}Component}>
        </div>
    );
}